.sp-back
	@extend %sp
	width: 16.5px
	height: 14px
	background: url('../images/product/ico_back.png')

.sp-favorite
	@extend %sp
	width: 16px
	height: 13px
	background: url('../images/product/ico_favorite.png')

.sp-favorite2
	@extend %sp
	width: 16px
	height: 13px
	background: url('../images/product/ico_favorite2.png') no-repeat

.sp-cart
	@extend %sp
	width: 16px
	height: 16px
	background: url('../images/product/ico_cart.png')

.sp-star
	@extend %sp
	width: 10px
	height: 10px
	background: url('../images/product/ico_star_off.png')
	&.on
		background: url('../images/product/ico_star_on.png')

.sp-facebook
	@extend %sp
	width: 21.5px
	height: 21.5px
	margin-right: 9.5px
	background: url("../images/walkthroughts/ico_facebook.png")
	vertical-align: middle

.sp-play
	@extend %sp
	width: 117px
	height: 117px
	background: url("../images/walkthroughts/ico_play.png")