.sp-menu, .sp-twitter, .sp-facebook, .sp-onion, .sp-paprika, .sp-eggplant, .sp-broccoli, .header .sign-area .sign-board .sp-sign {
  display: inline-block;
  overflow: hidden;
  position: relative;
  background-size: 100% auto !important;
  vertical-align: top; }

.header .sign-area .button-grid, .header .sign-area .button-menu {
  display: inline-block;
  width: 54px;
  height: 33px;
  padding: 8px 0;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 50%, #ededed 100%);
  font-size: 11px;
  color: #ed1c24;
  text-align: center; }

.header .sign-area::after, .header .sign-area .button-menu-area .menu::after, .header .pattern-area .gnb::after {
  content: '';
  display: block;
  clear: both; }

.header .pattern-area::before, .header .pattern-area::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; }

.header .sign-area::before, .header .sign-area .sign-board {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.sp-menu {
  display: none;
  width: 18px;
  height: 18px;
  background: url("../../images/pizzeria/ico_menu.png") no-repeat; }

.sp-twitter {
  width: 29px;
  height: 29px;
  background: url("../../images/pizzeria/ico_twitter.png") no-repeat; }

.sp-facebook {
  width: 29px;
  height: 29px;
  background: url("../../images/pizzeria/ico_facebook.png") no-repeat; }

.sp-onion {
  width: 17px;
  height: 21px;
  background: url("../../images/pizzeria/ico_onion.png") no-repeat; }

.sp-paprika {
  width: 17px;
  height: 21px;
  background: url("../../images/pizzeria/ico_paprika.png") no-repeat; }

.sp-eggplant {
  width: 17px;
  height: 21px;
  background: url("../../images/pizzeria/ico_eggplant.png") no-repeat; }

.sp-broccoli {
  width: 17px;
  height: 21px;
  background: url("../../images/pizzeria/ico_broccoli.png") no-repeat; }

.header::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #ffd200; }

.header .sign-area {
  position: relative;
  top: 48px;
  height: 48px;
  z-index: 5;
  border-bottom: 1px solid #c6c6c6;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
  background: #fff;
  text-transform: uppercase; }
  @media (min-width: 720px) {
    .header .sign-area {
      height: 72px; } }
  .header .sign-area::before {
    content: '';
    display: inline-block;
    top: 0;
    width: 186px;
    height: 0;
    line-height: 0;
    border: 96px solid #fff;
    border-top: none;
    border-bottom-right-radius: 96px;
    border-bottom-left-radius: 96px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2); }
    @media (min-width: 720px) {
      .header .sign-area::before {
        width: 340px;
        border-width: 144px;
        border-bottom-right-radius: 144px;
        border-bottom-left-radius: 144px; } }
  .header .sign-area .header-menu-wrap {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff; }
    .header .sign-area .header-menu-wrap .menu-item {
      display: block;
      letter-spacing: -1px; }
  .header .sign-area .sign-board {
    top: 12px;
    display: block;
    text-align: center; }
    @media (min-width: 720px) {
      .header .sign-area .sign-board {
        top: 24px; } }
    .header .sign-area .sign-board .sp-sign {
      width: 143px;
      height: 76px;
      background: url("../../images/pizzeria/sign.png") no-repeat; }
      @media (min-width: 720px) {
        .header .sign-area .sign-board .sp-sign {
          width: 198px;
          height: 106px; } }
  .header .sign-area .button-grid-area {
    align-self: center;
    order: 0;
    margin-left: 0.438em; }
    @media (min-width: 1024px) {
      .header .sign-area .button-grid-area {
        margin-left: 3.5em; }
        .header .sign-area .button-grid-area em {
          display: block; } }
  .header .sign-area .button-menu-area {
    align-self: center;
    order: 1;
    margin-right: 0.438em; }
    .header .sign-area .button-menu-area .menu {
      display: none; }
      @media (min-width: 720px) {
        .header .sign-area .button-menu-area .menu {
          display: block; } }
      @media (min-width: 1024px) {
        .header .sign-area .button-menu-area .menu {
          margin-right: 3.5em; } }
      .header .sign-area .button-menu-area .menu li {
        float: left;
        margin-right: 28px; }
        .header .sign-area .button-menu-area .menu li:last-child {
          margin-right: 0; }
      .header .sign-area .button-menu-area .menu a {
        display: block;
        font-size: 11px;
        color: #ed1c24;
        text-align: center; }
  @media (min-width: 720px) {
    .header .sign-area .button-grid {
      padding: 0;
      border: 0;
      background: none;
      text-align: center; } }
  .header .sign-area .button-grid .sp-menu {
    display: none; }
    @media (min-width: 720px) {
      .header .sign-area .button-grid .sp-menu {
        display: inline-block; } }
  @media (min-width: 720px) {
    .header .sign-area .button-menu {
      display: none; } }

.header .pattern-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -48px;
  height: 48px;
  background: #ed1c24; }
  @media (min-width: 320px) {
    .header .pattern-area::before {
      width: 100%; }
    .header .pattern-area::before {
      background-image: repeating-linear-gradient(to right, #ed1c24 0, #ed1c24 30px, #c30007 31px, #c30007 60px);
      background-repeat: repeat-x; } }
  @media (min-width: 720px) {
    .header .pattern-area {
      top: -72px; }
      .header .pattern-area::before {
        left: 0;
        width: 40%;
        background-image: repeating-linear-gradient(to right, #ed1c24 0, #ed1c24 10px, #c30007 11px, #c30007 60px, #ed1c24 61px, #ed1c24 110px);
        background-repeat: repeat-x; }
      .header .pattern-area::after {
        left: inherit;
        right: 0;
        width: 40%;
        background-image: repeating-linear-gradient(to right, #ed1c24 0, #ed1c24 10px, #c30007 11px, #c30007 60px, #ed1c24 61px, #ed1c24 110px);
        background-repeat: repeat-x; } }
  .header .pattern-area .brand {
    z-index: 1;
    margin-left: 0.35em;
    font-size: 14px;
    color: #fff; }
    @media (min-width: 720px) {
      .header .pattern-area .brand {
        margin-left: 4.1em;
        position: relative; } }
  .header .pattern-area .gnb {
    position: relative;
    z-index: 1;
    margin-right: 0.5em; }
    @media (min-width: 720px) {
      .header .pattern-area .gnb {
        margin-right: 4.1em; } }
    .header .pattern-area .gnb li {
      float: left;
      margin-right: 20px; }
      @media (min-width: 720px) {
        .header .pattern-area .gnb li {
          margin-right: 31px; } }
      .header .pattern-area .gnb li:last-child {
        margin-right: 0; }
    .header .pattern-area .gnb a {
      font-size: 12px;
      color: #fff; }

/*# sourceMappingURL=../../map/pizzeria/header.css.map */