@chatset "utf-8";

html {
	width: 100%;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10px;
	color: #fff;
}
body {
	width: 100%;
	height: 100%;
	background: url(../stock-photo-102710297.jpg);
}
form {
	height: 100%;
	border: 0;
}
input, button {
	border: 0;
	background: transparent;
	color: #fff;
	outline: none;
}

.wrap {
	position: relative;
	width: 100%;
	height: 100%;

}
.time_area {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}
.time {
	font-family: "helvetica", sans-serif;
	font-size: 18rem;
}
.greeting {
	font-size: 5.4rem;
}
.question {
	position: absolute;
	top: 73%;
	left: 50%;
	transform: translateX(-50%);
}
.question legend {
	font-size: 3.5rem;
}
.question input {
	width: 100%;
	margin-top: 1rem;
	border-bottom: 2px solid #fff;
	font-size: 3rem;
	text-align: center;
}
.aphorism {
	position: absolute;
	left: 50%;
	bottom: 1em;
	transform: translateX(-50%);
	width: 50%;
	font-size: 1.8rem;
	text-align: center;
}
.links, .weather, .city, .todo {
	position: absolute;
	opacity: 0.8;
	padding: 2rem;
	transition: all 0.25s;
}
.links:hover, .links:focus,
.weather:hover, .weather:focus,
.city:hover, .city:focus,
.todo:hover, .todo:focus {
	opacity: 1;
}
.links {
	top: 0;
	left: 0;
	font-size: 1.6rem;
}
.links a {
	display: inline-block;
	margin-left: 1rem;
}
.weather {
	top: 0;
	right: 0;
	font-size: 2.3rem;
}
.city {
	bottom: 0;
	left: 0;
	font-size: 1.5rem;
}
.city a {
	display: inline-block;
	margin-right: 1rem;
}
.city_name {
	display: block;
	margin-top: 0.3rem;
	font-size: 1rem;
	text-align: right;
}
.todo {
	right: 0;
	bottom: 0;
	font-size: 1.6rem;
}
.todo a {
	color: #fff;
	text-decoration: none;
}