$primary-color: #0de0fc;
$disable-color: #9b9b9b;

@function deUnit($value) {
  @return ($value / ($value * 0 + 1))
}

@mixin vps($type, $size) {
  #{$type}:deUnit($size) / deUnit(750px) * 100vw;
}

@mixin toggle-base {
  position:relative;
  display:block;
  @include vps(margin-bottom, 64px);
  
  .toggle-name {
    @include vps(font-size, 35px);
    color: $disable-color;
    font-weight: 700;
    transition:all 0.3s;
    
    &:before,
    &:after {
      position:absolute;
      top:50%;
      display:block;
      content:'';
      background-color: $disable-color;
      transition:all 0.3s;
    }
    &:before {
      right:0;
      @include vps(width, 79px);
      @include vps(height, 30px);
      border-radius: 0.938em;
      transform:translate(0, -50%);
    }    
    
    &:after {
      left:88%;
      @include vps(width, 45px);
      @include vps(height, 45px);
      border-radius:50%;
      box-shadow: -0.112em 0.15em 0.625em rgba(0, 0, 0, 0.8);
      transform:translate(-50%, -50%);
    }
  }
  
  input[type="checkbox"] {display:none;}
  input[type="checkbox"]:checked ~ .toggle-name {
    color:$primary-color;
    
    &:before,
    &:after {
      background-color:$primary-color;
    }
    &:after {left:100%;}
    
  }
}

@mixin themes-base($themes-color) {
  position:relative;
  display:inline-block;
  @include vps(width, 162px);
  @include vps(height, 162px);
  border-radius:100%;
  border:1px solid $themes-color;
  
  .themes-name {
    text-indent:-9999px;
    &:before,
    &:after {
      content:'';
      display:block;
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      border-radius:100%;
      transition:all 0.3s;
      border:1px solid $themes-color;
    }

    &:before {
      @include vps(width, 135px);
      @include vps(height, 135px);
      border:1px solid $themes-color;
    }

    &:after {
      @include vps(width, 110px);
      @include vps(height, 110px);
      background-color:$themes-color;
    }
  }
  
  
  input[type="radio"] {display:none;}
  input[type="radio"]:checked ~ .themes-name {
    color:$themes-color;
    
    &:after {
      width:100%;
      height:100%;
    }
  }
}

// font-face
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
  // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
        src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}

@include font-face(norwester, '../fonts/norwester/norwester', 400, normal);

@mixin norwester {
  font-family: 'norwester', arial, sans-serif;
  font-weight: 300; font-style: normal; }
