{% include header.html %}

    {% include home-hero.html %}

    <main id="portfolio">
      <div class="container">
        <!-- Public Projects -->
        <div class="row">
          <div class="col-md-12">
            {% if site.data.works.section_title != '' %}
            <h2 class="section-title text-center">{{ site.data.works.section_title }}</h2>
            {% endif %}
            {% if site.data.works.section_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.data.works.section_subtitle }}</p>
            {% endif %}

            <div class="break"></div>

            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/KakaoTalk_Photo_2020-04-06-00-44-00.png" title="Mybucketlist">
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">Mybucketlist</h3>
                      <p class="excerpt">마이버킷리스트 웹서비스</p>
                      <a href="https://findmybucketlist.com" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i
                            class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>Travels & Stay</span>
                        <span>Webservice</span>
                        <span>Webview</span>
                        <span>Nuxt</span>
                        <span>Vue</span>
                        <span>AWS</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">Say-pick</h3>
                      <p class="excerpt">신세계면세점 음성검색 앱서비스</p>
                      <a href="https://apps.apple.com/kr/app/say-pick/id1450778472" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i
                            class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>Shopping</span>
                        <span>Express</span>
                        <span>Vue</span>
                        <span>Mobile App</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img class="img-mobile-responsive" src="/img/posts/스크린샷 2020-04-06 오전 12.48.37.png" title="Say-pick">
                  </div>
                </div>
              </div>
            </div>
            
            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/KakaoTalk_Photo_2020-04-06-00-43-52.png" title="Malhae Promotion Website">
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">Malhae Promotion Website</h3>
                      <p class="excerpt">말해 프로모션 웹사이트</p>
                      <a href="https://www.malhae.ai/" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>Promotion</span>
                        <span>Laravel</span>
                        <span>Jquery</span>
                        <span>Responsive</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">Noler</h3>
                      <p class="excerpt">놀러 웹사이트</p>
                      <a href="https://www.noler.co.kr" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i
                            class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>Travels</span>
                        <span>Web &amp; Mobile</span>
                        <span>Laravel</span>
                        <span>Jquery</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/KakaoTalk_Photo_2020-04-06-00-44-04.png" title="Noler Website">
                  </div>
                </div>
              </div>
            </div>

            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/benative_gift-1130x864-2x.png" title="BeNative Gift Page">
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">BeNative Gift Page</h3>
                      <p class="excerpt">비네이티브 학습상품권 구매 페이지</p>
                      <a href="http://www.benativepro.kr/gift" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>Promotion</span>
                        <span>Web &amp; Mobile</span>
                        <span>Vue</span>
                        <span>Axios</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">Mechanism Campus Website</h3>
                      <p class="excerpt">메커니즘 캠퍼스 웹사이트</p>
                      <a href="http://www.mechcampus.kr" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>Education</span>
                        <span>Nuxt</span>
                        <span>Vue</span>
                        <span>Responsive</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/mechcampus-1130x864-2x.png" title="Mechanism Campus Website">
                  </div>
                </div>
              </div>
            </div>

            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/bn_content_admin-1130x864-2x.png" title="BeNative Content Admin">
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">BeNative Content Admin</h3>
                      <p class="excerpt">비네이티브 콘텐츠 어드민</p>
                      <!-- <a href="//" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a> -->
                      <div class="tags">
                        <span>Admin</span>
                        <span>Laravel</span>
                        <span>Bootstrap</span>
                        <span>Vue</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">CKStartup Campus Website</h3>
                      <p class="excerpt">CK스타트업 캠퍼스 웹사이트</p>
                      <a href="http://www.ckstartupcampus.com" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>Website</span>
                        <span>Wordpress</span>
                        <span>Theme Customizing</span>
                        <span>Responsive</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/ckstartupcampus-1130x864-2x.png" title="CKStartup Campus Website">
                  </div>
                </div>
              </div>
            </div>

            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/benative_jp-1130x864-2x.png" title="BeNative JP B2B Website">
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">BeNative JP B2B Website</h3>
                      <p class="excerpt">비네이티브 기업교육 일본어 웹사이트</p>
                      <a href="http://www.benative.jp/corp" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>B2B</span>
                        <span>Japanese</span>
                        <span>Website</span>
                        <span>jQuery</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">BeNative B2B Page</h3>
                      <p class="excerpt">비네이티브 기업교육 전용 페이지</p>
                      <a href="http://www.benativepro.kr/corp" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>B2B</span>
                        <span>Web &amp; Mobile</span>
                        <span>jQuery</span>
                        <span>Ajax</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/benative_b2b-1130x864-2x.png" title="BeNative B2B Page">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Private Projects -->
        <div class="row">
          <div class="col-md-12">

            {% if site.data.projects.section_title != '' %}
            <h2 class="section-title text-center">{{ site.data.projects.section_title }}</h2>
            {% endif %}
            {% if site.data.projects.section_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.data.projects.section_subtitle }}</p>
            {% endif %}

            <div class="break"></div>

            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/bifan-screenshot.png" title="BIFAN">
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">BIFAN</h3>
                      <p class="excerpt">부천 국제판타스틱 영화제 웹사이트 개선 프로젝트</p>
                      <a href="http://rovermind.github.io/work/bifan" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>Web-Semantics</span>
                        <span>Web-Accessibility</span>
                        <span>jQuery</span>
                        <span>AngularJS</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">BATMAN Animation</h3>
                      <p class="excerpt">배트맨 캐릭터와 패럴랙스 효과를 활용한 인터랙티브 웹페이지</p>
                      <a href="http://rovermind.github.io/work/batman" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>HTML5</span>
                        <span>CSS3</span>
                        <span>Animation</span>
                        <span>Parallax</span>
                        <span>SkrollrJS</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/batman-screenshot.png" title="BATMAN Animation">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- FDS WORKS -->
        <div class="row">
          <div class="col-md-12">

            {% if site.data.posts.section_title != '' %}
            <h2 class="section-title text-center">{{ site.data.posts.section_title }}</h2>
            {% endif %}
            {% if site.data.posts.section_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.data.posts.section_subtitle }}</p>
            {% endif %}

            <div class="break"></div>

<div class="wow fadeIn">
              

              
                <div class="content-wrap">

  <div class="row">

    <div class="col-xs-12 col-md-6">
        
  <img class="img-responsive" src="https://rovermind.github.io/img/posts/dashboard-1130x864-2x.png" title="Dashboard">
  

  

    </div>

    <div class="col-xs-12 col-md-6">
      <div class="content">
  <h3 class="title">Dashboard</h3>

  <p class="excerpt">Sass 활용, 관리자 웹페이지</p>

  <a href="https://rovermind.github.io/test/21-dashboard/dashboard.html" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>

  
  <div class="tags">
    
    <span>Dashboard</span>
    
    <span>HTML5</span>
    
    <span>CSS3</span>
    
    <span>Sass</span>
    
  </div>
  

  <!-- 
  <div class="categories">
    
      <span>development</span>
    
  </div>
   -->
</div>

    </div>

  </div>

</div>

              
              </div>
            
              <div class="wow fadeIn">
              
                <div class="content-wrap">

  <div class="row">

    <div class="col-xs-12 col-md-6">
      <div class="content">
  <h3 class="title">Sports</h3>

  <p class="excerpt">Sass 활용, 협업을 통한 커스텀 라이브러리를 응용한 모바일 웹페이지</p>

  <a href="https://rovermind.github.io/test/20-sports/index.html" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-mobile fa-lg"></i>Visit Webpage</button></a>

  
  <div class="tags">
    
    <span>Sports</span>
    
    <span>HTML5</span>
    
    <span>CSS3</span>
    
    <span>Sass</span>
    
    <span>Mobile</span>
    
  </div>
  

  <!-- 
  <div class="categories">
    
      <span>development</span>
    
  </div>
   -->
</div>

    </div>

    <div class="col-xs-12 col-md-6">
        

  
  <img class="img-mobile-responsive" src="https://rovermind.github.io/img/posts/-D--rovermind-FDS-test-20-sports-01_sign_up.html(iPhone 6).png" title="Sports">
  

    </div>

  </div>

</div>

              

              
              </div>
            
              <div class="wow fadeIn">
              

              
                <div class="content-wrap">

  <div class="row">

    <div class="col-xs-12 col-md-6">
        

  
  <img class="img-mobile-responsive" src="https://rovermind.github.io/img/posts/-D--rovermind-FDS-test-19-fashion-product_01.html(iPhone 6).png" title="Fashion">
  

    </div>

    <div class="col-xs-12 col-md-6">
      <div class="content">
  <h3 class="title">Fashion</h3>

  <p class="excerpt">Sass 활용, 협업을 통한 커스텀 라이브러리를 응용한 모바일 웹페이지</p>

  <a href="https://rovermind.github.io/test/19-fashion/index.html" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-mobile fa-lg"></i>Visit Webpage</button></a>

  
  <div class="tags">
    
    <span>Fashion</span>
    
    <span>HTML5</span>
    
    <span>CSS3</span>
    
    <span>Sass</span>
    
    <span>Mobile</span>
    
  </div>
  

  <!-- 
  <div class="categories">
    
      <span>development</span>
    
  </div>
   -->
</div>

    </div>

  </div>

</div>

              
              </div>
            
              <div class="wow fadeIn">
              
                <div class="content-wrap">

  <div class="row">

    <div class="col-xs-12 col-md-6">
      <div class="content">
  <h3 class="title">Pizzeria &amp; Trattoria</h3>

  <p class="excerpt">Sass를 활용한 반응형 웹페이지</p>

  <a href="https://rovermind.github.io/test/18-pizzeria/index.html" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>

  
  <div class="tags">
    
    <span>Restaurant</span>
    
    <span>HTML5</span>
    
    <span>CSS3</span>
    
    <span>Sass</span>
    
    <span>Responsive</span>
    
  </div>
  

  <!-- 
  <div class="categories">
    
      <span>development</span>
    
  </div>
   -->
</div>

    </div>

    <div class="col-xs-12 col-md-6">
        
  <img class="img-responsive" src="https://rovermind.github.io/img/posts/pizzeria-1130x864-2x.png" title="Pizzeria &amp; Trattoria">
  

  

    </div>

  </div>

</div>

              

              
              </div>
            
              <div class="wow fadeIn">
              

              
                <div class="content-wrap">

  <div class="row">

    <div class="col-xs-12 col-md-6">
        
  <img class="img-responsive" src="https://rovermind.github.io/img/posts/indulge-1130x864-2x.png" title="indulge">
  

  

    </div>

    <div class="col-xs-12 col-md-6">
      <div class="content">
  <h3 class="title">indulge</h3>

  <p class="excerpt">그리드 시스템이 적용된 반응형 웹페이지</p>

  <a href="https://rovermind.github.io/test/17-indulge/" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>

  
  <div class="tags">
    
    <span>HTML5</span>
    
    <span>CSS3</span>
    
    <span>Grid-system</span>
    
    <span>Responsive</span>
    
  </div>
  

  <!-- 
  <div class="categories">
    
      <span>development</span>
    
  </div>
   -->
</div>

    </div>

  </div>

</div>

              
              </div>
            
              <div class="wow fadeIn">
              
                <div class="content-wrap">

  <div class="row">

    <div class="col-xs-12 col-md-6">
      <div class="content">
  <h3 class="title">Responsive Grid System</h3>

  <p class="excerpt">반응형 그리드 시스템</p>

  <a href="https://rovermind.github.io/test/15-responsive-grid/" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>

  
  <div class="tags">
    
    <span>Responsive</span>
    
    <span>Grid-system</span>
    
  </div>
  

  <!-- 
  <div class="categories">
    
      <span>development</span>
    
  </div>
   -->
</div>

    </div>

    <div class="col-xs-12 col-md-6">
        
  <img class="img-responsive" src="https://rovermind.github.io/img/posts/responsive-grid-1130x864-2x.png" title="Responsive Grid System">
  

  

    </div>

  </div>

</div>

              

              
              </div>
            
              <div class="wow fadeIn">
              

              
                <div class="content-wrap">

  <div class="row">

    <div class="col-xs-12 col-md-6">
        
  <img class="img-responsive" src="https://rovermind.github.io/img/posts/aware-1130x864-2x.png" title="Aware">
  

  

    </div>

    <div class="col-xs-12 col-md-6">
      <div class="content">
  <h3 class="title">Aware</h3>

  <p class="excerpt">960 그리드 시스템이 적용된 웹페이지</p>

  <a href="https://rovermind.github.io/work/aware/" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>

  
  <div class="tags">
    
    <span>Grid-system</span>
    
  </div>
  

  <!-- 
  <div class="categories">
    
      <span>development</span>
    
  </div>
   -->
</div>

    </div>

  </div>

</div>

              
              </div>
            
              <div class="wow fadeIn">
              
                <div class="content-wrap">

  <div class="row">

    <div class="col-xs-12 col-md-6">
      <div class="content">
  <h3 class="title">Custom Grid System</h3>

  <p class="excerpt">커스텀 그리드 시스템</p>

  <a href="https://rovermind.github.io/test/14-grid-system-custom2/" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>

  
  <div class="tags">
    
    <span>Grid-system</span>
    
  </div>
  

  <!-- 
  <div class="categories">
    
      <span>development</span>
    
  </div>
   -->
</div>

    </div>

    <div class="col-xs-12 col-md-6">
        
  <img class="img-responsive" src="https://rovermind.github.io/img/posts/grid-system-custom-1130x864-2x.png" title="Custom Grid System">
  

  

    </div>

  </div>

</div>

              

              
              </div>
            
              <div class="wow fadeIn">
              

              
                <div class="content-wrap">

  <div class="row">

    <div class="col-xs-12 col-md-6">
        
  <img class="img-responsive" src="https://rovermind.github.io/img/posts/buttonset-1130x864-2x.png" title="CSS Buttonset">
  

  

    </div>

    <div class="col-xs-12 col-md-6">
      <div class="content">
  <h3 class="title">CSS Buttonset</h3>

  <p class="excerpt">font-awesome과 CSS3로 구현한 버튼셋</p>

  <a href="https://rovermind.github.io/test/12-buttonset/" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>

  
  <div class="tags">
    
    <span>CSS3</span>
    
    <span>font-awesome</span>
    
    <span>button-set</span>
    
  </div>
  

  <!-- 
  <div class="categories">
    
      <span>development</span>
    
  </div>
   -->
</div>

    </div>

  </div>

</div>

              
              </div>
            
              <div class="wow fadeIn">
              
                <div class="content-wrap">

  <div class="row">

    <div class="col-xs-12 col-md-6">
      <div class="content">
  <h3 class="title">ui-kit</h3>

  <p class="excerpt">커스텀 UI 키트</p>

  <a href="https://rovermind.github.io/test/12-ui-kit/" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>

  
  <div class="tags">
    
    <span>ui-kit</span>
    
    <span>typography</span>
    
    <span>color-scheme</span>
    
    <span>vertical-rhythm</span>
    
  </div>
  

  <!-- 
  <div class="categories">
    
      <span>development</span>
    
  </div>
   -->
</div>

    </div>

    <div class="col-xs-12 col-md-6">
        
  <img class="img-responsive" src="https://rovermind.github.io/img/posts/ui-kit-1130x864-2x.png" title="ui-kit">
  

  

    </div>

  </div>

</div>

              

              
              </div>

          </div>
        </div>
      </div>
    </main>

{% include footer.html %}
