{% include header.html %}

    {% include home-hero.html %}

    <main id="portfolio">
      <div class="container">
        <!-- Public Projects -->
        <div class="row">
          <div class="col-md-12">
            {% if site.data.works.section_title != '' %}
            <h2 class="section-title text-center">{{ site.data.works.section_title }}</h2>
            {% endif %}
            {% if site.data.works.section_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.data.works.section_subtitle }}</p>
            {% endif %}

            <div class="break"></div>

            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/benative_gift-1130x864-2x.png" title="BeNative Gift Page">
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">BeNative Gift Page</h3>
                      <p class="excerpt">비네이티브 학습상품권 구매 페이지</p>
                      <a href="//www.benativepro.kr/gift" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>Promotion</span>
                        <span>Vue</span>
                        <span>Axios</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">Mechanism Campus Website</h3>
                      <p class="excerpt">메커니즘 캠퍼스 웹사이트</p>
                      <a href="//www.mechcampus.kr" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>Education</span>
                        <span>Laravel</span>
                        <span>Vue</span>
                        <span>Responsive</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/mechcampus-1130x864-2x.png" title="Mechanism Campus Website">
                  </div>
                </div>
              </div>
            </div>

            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/bn_content_admin-1130x864-2x.png" title="BeNative Content Admin">
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">BeNative Content Admin</h3>
                      <p class="excerpt">비네이티브 콘텐츠 어드민</p>
                      <!-- <a href="//" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a> -->
                      <div class="tags">
                        <span>Admin</span>
                        <span>Laravel</span>
                        <span>Bootstrap</span>
                        <span>Vue</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">CKStartup Campus Website</h3>
                      <p class="excerpt">CK스타트업 캠퍼스 웹사이트</p>
                      <a href="//www.ckstartupcampus.com" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>Wordpress</span>
                        <span>Theme Customizing</span>
                        <span>Responsive</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/ckstartupcampus-1130x864-2x.png" title="CKStartup Campus Website">
                  </div>
                </div>
              </div>
            </div>

            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/benative_b2b-1130x864-2x.png" title="BeNative B2B Page">
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">BeNative B2B Page</h3>
                      <p class="excerpt">비네이티브 기업교육 전용 페이지</p>
                      <a href="//www.benativepro.kr/corp" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>B2B</span>
                        <span>Web &amp; Mobile</span>
                        <span>Ajax</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Private Projects -->
        <div class="row">
          <div class="col-md-12">

            {% if site.data.projects.section_title != '' %}
            <h2 class="section-title text-center">{{ site.data.projects.section_title }}</h2>
            {% endif %}
            {% if site.data.projects.section_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.data.projects.section_subtitle }}</p>
            {% endif %}

            <div class="break"></div>

            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/bifan-screenshot.png" title="BIFAN">
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">BIFAN</h3>
                      <p class="excerpt">부천 국제판타스틱 영화제 웹사이트 개선 프로젝트</p>
                      <a href="https://rovermind.github.io/work/bifan/" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>Web-Semantics</span>
                        <span>Web-Accessibility</span>
                        <span>jQuery</span>
                        <span>AngularJS</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="wow fadeIn">
              <div class="content-wrap">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="content">
                      <h3 class="title">BATMAN Animation</h3>
                      <p class="excerpt">배트맨 캐릭터와 패럴랙스 효과를 활용한 인터랙티브 웹페이지</p>
                      <a href="https://rovermind.github.io/work/batman/" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-desktop fa-lg"></i>Visit Webpage</button></a>
                      <div class="tags">
                        <span>HTML5</span>
                        <span>CSS3</span>
                        <span>Animation</span>
                        <span>Parallax</span>
                        <span>SkrollrJS</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <img class="img-responsive" src="/img/posts/batman-screenshot.png" title="BATMAN Animation">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- FDS WORKS -->
        <div class="row">
          <div class="col-md-12">

            {% if site.data.posts.section_title != '' %}
            <h2 class="section-title text-center">{{ site.data.posts.section_title }}</h2>
            {% endif %}
            {% if site.data.posts.section_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.data.posts.section_subtitle }}</p>
            {% endif %}

            <div class="break"></div>

            {% for post in paginator.posts %}
              <div class="wow fadeIn">
              {% if post.position == "left" %}
                {% include content-left.html %}
              {% endif %}

              {% if post.position == "right" %}
                {% include content-right.html %}
              {% endif %}
              </div>
            {% endfor %}

            {% include pagination.html %}

          </div>
        </div>
      </div>
    </main>

{% include footer.html %}
